
#fotos{
    background-image: url("../../../../assets/images/plomero.jpg");
    background-size: cover;
    max-width: 760px;
    height: 750px;
    z-index: 1;
  }
  
  .mostrarHoras{
    text-align: center;
  }
  
  #logo{
    z-index: 2;
  }
  
  #instruc{
    text-align: center;
  }